﻿@{
    ViewBag.Title = "Home Page";
}
<div id="reactApp">

</div>
@section scripts {
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
    <script src="~/Scripts/demo/DemoComponent.js"></script>
}
